<!DOCTYPE html>
<html>
<head>
  <title>Confirm Delete</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>Confirm Deletion</h1>
  <p>Are you sure you want to delete this record?</p>
  <form method="post" action="/offices/delete/<%= office.id %>">
    <button type="submit">Delete</button>
    <a href="/offices">Cancel</a>
  </form>
</body>
</html>
