<!DOCTYPE html>
<html>
<head>
  <title><%= action %> Office</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1><%= action %> Office</h1>
  <form method="post" action="/offices/add">
    <label for="denomination">Denomination:</label>
    <input type="text" id="denomination" name="denomination" value="<%= office.denomination || '' %>" required />
    <button type="submit"><%= action %></button>
  </form>
  <a href="/offices">Back to Offices</a>
</body>
</html>
