<!DOCTYPE html>
<html>
<head>
  <title>Edit Office</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>Edit Office</h1>
  <form method="post" action="/offices/edit/<%= office.id %>">
    <label for="denomination">Denomination:</label>
    <input type="text" id="denomination" name="denomination" value="<%= office.denomination %>" required />
    <button type="submit">Update</button>
  </form>
  <a href="/offices">Back to Offices</a>
</body>
</html>
