<!DOCTYPE html>
<html>
<head>
  <title>Offices</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>Resultados de la búsqueda</h1>
  <ul>
    <% offices.forEach(office => { %>
      <li><%= office.denomination %></li>
    <% }); %>
  </ul>
  <a href="/offices/add">Add Office</a>
</body>
</html>