<!DOCTYPE html>
<html>
  <head>
    <title>Buscar persona</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Buscar persona</h1>
    <form action="/people/search/results" method="get">
        <input type="text" name="keyword" placeholder="Introduzca su termino">
        <button type="submit">Buscar</button>
    </form>
  </body>
</html>
