<!DOCTYPE html>
<html>
<head>
  <%- include('./head') %>
</head>
<body>
  <%- include('./navigation') %>
  <h1>List of People</h1>  
    <div class="container col-md-6">
      <% people.forEach(element => { %>      
        <p>
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#infoPersona<%= element.id%>" aria-expanded="false" aria-controls="collapseExample">
            <%= element.name %>
          </button>
        </p>   
        <div class="collapse" id="infoPersona<%= element.id %>">
          <div class="card card-body">
            <ul>
              <li>Nombre: <%= element.name %></li>
              <li>E mail: <%= element.email %></li>
              <li>Oficina: <%= element.denomination %></li>
            </ul>
            <div class="list-group">            
              <a href="/people/edit/<%= element.id %>"  class="list-group-item list-group-item-action">Editar</a>
              <a href="/people/delete/<%= element.id %>" class="list-group-item list-group-item-action">Borrar</a>           
            </div>
          </div>
        </div>
      <% }) %>
    </div>
   
  
  <a href="/people/add">Add Person</a>
</body>
</html>