<!DOCTYPE html>
<html>
<head>
  <title><%= action %> Person</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1><%= action %> Person</h1>
  <form method="post" action="/people/add">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%= person.name || '' %>" required />
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" value="<%= person.email || '' %>" required />
    <label for="office_id">Office:</label>
    <select id="office_id" name="office_id">
      <% offices.forEach(office => { %>
        <option value="<%= office.id %>" <%= person.office_id == office.id ? 'selected' : '' %>><%= office.denomination %></option>
      <% }); %>
    </select>
    <button type="submit"><%= action %></button>
  </form>
  <a href="/people">Back to People</a>
</body>
</html>
